#sailthru-intro {
  background: url(logo.png) no-repeat 0 0;
  margin: 0 0 20px 0;
  padding: 10px 0 20px 0;
}
span.sailthru-user-var {
  background: #fff;
  border: 1px solid #999;
  margin: 3px 5px;
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

div#sailthru-profile-header {
  background: url(logo.png) no-repeat 0 0;
  border-bottom: 2px solid #00cced;
  height: 19px;
  margin: 20px 0;
  padding: 0;
  text-indent: -9999px;
}
