You need to download and install the Sailthru PHP5 Client library to work
with the module.

Download the <a href="https://github.com/sailthru/sailthru-php5-client/archive/master.zip
">Sailthru PHP5 Client Library</a> from Github

Extract the zip file and upload or move the "sailthru" folder into your libraries folder
The directory /sites/all/libraries/sailthru should have the following files:

<ul>
  <li>Sailthru_Client.php</li>
  <li>Sailthru_Client_Exception.php</li>
  <li>Sailthru_Util.php</li>
</ul>

<p><strong>Download and install the Sailthru module if you have not done so already.</strong></p>
<ul>
  <li>Enable the Sailthru Module at Administer-> Modules</li>
  <li>Once installed, enter your API Key and Secret at /admin/sailthru</li>
  <li>Select the Sailthru template you want to use for all Drupal system emails</li>
</ul>
